<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="container">
  <div class="form-group row">
    <%= form.label :제목 %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :내용 %>
    <%= form.text_area :content, class:"form-control" %>
  </div>

<div class="form-group row">
    <%= form.label :image %><br>
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
</div>

<div class="field">
  <%= form.hidden_field :user_id , :value => current_user.id %>
</div>

</div>

  <div class="actions">
 <%= form.submit"글쓰기",class:"btn btn-primary" %>
  </div>
<% end %>

